name: 中看

on:
  workflow_dispatch:
  schedule:
     - cron: '0 0 29 2 *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        YOUTH_BANNER: ${{ secrets.youth_banner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: '运行 【中看】'
        run: |
          node youth_banner.js
